html {
  color-scheme: light;
  background-color: #ddd;
  background-image: url('/assets/noise.webp');
  font-family: 'Onest Variable', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
  scrollbar-width: thin;
}

::selection {
  background-color: #000;
  color: #fff;
}