---
import Layout from '../../layouts/Layout.astro'
import Nav from '../../components/Nav.astro'
import Footer from '../../components/Footer.astro'
import { config } from '../../config.js'
---

<Layout title="Welcome to Astro.">

	<Nav page="utilities"/>

	<main>
		
		<nav>
			<p>
				<a href="/utilities/passgen">
					PassGen
				</a>
			</p>
			<p>
				<a href="/utilities/superlink">
					SuperLink
				</a>
			</p>
			<p>
				<a href="/utilities/vault">
					Vault
				</a>
			</p>
		</nav>

	</main>

	<Footer/>
	<div class="h-[600dvh]"></div>

</Layout>