---
import Layout from '../../layouts/Layout.astro'
import Nav from '../../components/Nav.astro'
import Footer from '../../components/Footer.astro'
import { config } from '../../config.js'
---

<Layout title="Welcome to Astro.">

	<Nav page="utilities"/>

	<main>
		
		<div class="text-center">
			<h1 class="text-5xl font-black">SuperLink</h1>
			<p class="text-lg font-bold font-mono">Coming soon</p>
		</div>

	</main>

	<Footer/>

</Layout>