---
import Layout from '@/layouts/Layout.astro'
import Nav from '@/components/Nav.astro'
import Footer from '@/components/Footer.astro'
---

<Layout title="404 - Page Not Found">

	<div class="h-dvh flex flex-col justify-between">

		<Nav page="404"/>

		<main class="text-center">
			
			<h1 class="text-9xl font-black">404</h1>
			<p class="font-medium underline text-lg -mt-2">Page Not Found</p>

			<div class="flex justify-center items-center gap-5 mt-5">
				<a class="btn btn-sm"
					href="/"
				>
					Go Home
				</a>
				<button class="btn btn-ghost btn-sm" disabled>
					Contact Support
				</button>
			</div>

		</main>

		<Footer/>

	</div>

</Layout>