---
import Layout from '@/layouts/Layout.astro'
import Nav from '@/components/Nav.astro'
import Footer from '@/components/Footer.astro'
import Socialnav from '@/components/Socialnav.astro'
import { theme } from '@/data/config.js'
---

<Layout title="Projects">

	<Nav page="projects"/>

	<main>
		<h1 class={theme.h1}>Projects</h1>

		<!-- Temporal List -->
		<ul class="mt-12">
			<li>
				<a href="/ai-album" target="_blank">AI-Album</a>
			</li>
		</ul>


	</main>

	<Footer/>

</Layout>

<style>
	a {
		@apply text-emerald-600 font-medium hover:underline ;
	}
</style>