---
import Layout from '@/layouts/Layout.astro'
import Nav from '@/components/Nav.astro'
import Footer from '@/components/Footer.astro'
import Card from '@/components/Card.astro'
import { theme } from '@/data/config.js'
---

<Layout title="Projects">

	<Nav page="projects"/>

	<main class="space-y-12">

		<h1 class={theme.h1}>Projects</h1>

		<section class="grid grid-cols-2 gap-2">

			<Card
				title="Blacklist"
				attributes="bg-black text-white"
				href="https://blacklist.morcxlla.xyz"
			/>

			<Card
				title="AI Album"
				attributes="text-white bg-top"
				img="/img/ai-album.jpg"
				href="https://ai-album.art"
			/>

			<Card
				title="XAP"
				attributes="bg-[#a6182e] text-[#ddd]"
				href="https://xap.morcxlla.xyz"
			/>

		</section>


		<div class="h-[300dvh]"></div>
	</main>

	<Footer/>

</Layout>