---
import Layout from '@/layouts/Layout.astro'
import Nav from '@/components/Nav.astro'
import Footer from '@/components/Footer.astro'
import Socialnav from '@/components/Socialnav.astro'
import { theme } from '@/data/config.js'
---

<Layout title="Projects">

	<Nav page="projects"/>

	<main>
		<h1 class={theme.h1}>Projects</h1>


	</main>

	<Footer/>

</Layout>