---
interface Props {
	title: string;
	img: string;
	href: string;
}

const { title, img, href } = Astro.props;
---
<article class="p-2 backdrop-blur border border-[#373737] rounded-md">
	<a class="space-y-1"
		href={href} target="_blank"
	>
		<img class="rounded-md aspect-video object-cover object-center" 
			src={img} alt={title}
		>
		<h2 class="text-lg font-medium">
			{title}
		</h2>
		<p>
			<slot/>
		</p>
	</a>
</article>