---
import Socialnav from "./Socialnav.astro";
---
<footer class="mt-24 py-8 border-t border-primary flex justify-between items-center">
  
  <Socialnav/>

  <p><span class="font-medium">Morcxlla</span>.</p>

</footer>