---
import NavDivider from '@/components/NavDivider.astro'
import { config } from '@/data/config.js'

interface Props {
	page: string;
}

const { page } = Astro.props;
---
<header class="w-full flex flex-row-reverse justify-between items-center py-8 mb-8 select-none">

  <nav class="flex gap-x-3 font-bold">

    <p class={`hover:underline ${page === 'home' ? 'underline decoration-dashed' : ''}`}>
      <a href="/">
        Home
      </a>
    </p>

    <NavDivider/>

    <p class={`hover:underline ${page === 'projects' ? 'underline decoration-dashed' : ''}`}>
      <a href="/projects">
        Projects
      </a>
    </p>

    <NavDivider/>

    <div class="dropdown dropdown-hover">
      <p class={`hover:underline ${page === 'utilities' ? 'underline decoration-dashed' : ''}`}
        role="button"
      >
        <a href="/utilities/passgen">
          Utilities
        </a>
      </p>
      <ul tabindex="0" class="dropdown-content z-[1] menu shadow bg-base-100 rounded-box">
        <li>
          <a href="/utilities/passgen">
            Passgen
          </a>
        </li>
        <li>
          <a href="/utilities/ark-ini">
            Ark ini
          </a>
        </li>
      </ul>
    </div>

    <NavDivider/>

    <p class={`hover:underline ${page === 'enye' ? 'underline decoration-dashed' : ''}`}>
      <a href="/enye">
        Enye
      </a>
    </p>

  </nav>

  <slot/>

</header>